.button:hover{
    background-color: beige;
    color: #000;
    transition: all 0.5s ease-in-out;
    scale: 1.2;
}

.first{
    justify-content: center;
}

.auto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 100px;
}

h1{
    font-weight: bold;
    font-size: large;
    color: #000;
    padding-top: 50px;
}

button{
    background-color: #15803d;
  color: #fff;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  font-weight: bold;
}

.hub{
    padding-right: 30px !important;
}